body {
  font-family: "LM Mono 12", serif;
  background-color: white;
  color: #101010;
  display: flex;
  flex-direction: column;
}

#contents {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  padding: 0.5em;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

table{
   margin: 10px 0;
}

#flags, #explodMines, #mines{
  color: red;
  background-color: black;
  padding:0.1em;
  font-size: 20px;
  border: 2px solid grey;
}

#minesinfo h2, #leaderboard h2, #commands h2, #rules h2 {
  text-align: center;
}

#rules, #commands, #minesinfo, #leaderboard {
  padding: 0.5em;
  margin: 1em;
  border-radius: 1em;
}

#minesinfo, #leaderboard {
  border: 2px solid darkred;
}

#rules, #commands {
  border: 2px solid grey;
}
